.gallery_list {
  display: flex;
  padding: 0;
  list-style: none;
}

.gallery_list_item:not(:last-child) {
  margin-right: 50px;
}

.gallery_list_item_img {
  width: 450px;
  height: 300px;
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.2),
    100px 100px 100px rgba(0, 0, 0, 0.2), 100px 100px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
